<h3>am i rendering?</h3>

<%# tried using the 'render' helper method here but it doesn't seem to work despite being in the same directory and following the directions of the lesson%>

<%=render (partial: => “form_fields”) information: “hello world” %>
