<h1>well what's all this about</h1>

<%# this code doesn't seem to render correctly despite following the steps in our lesson and it saying the html link will be generated automatically%>
link_to “Our Homepage”, home_path